#guarantees {
    height: 55vh;
    width: calc(100% - 35vh);
    max-width: 100%;
    margin-top: 70px;
    margin-left: 35vh;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: #FFFFFF;
}

#guarantees__container {
    display: flex;
    flex-direction: row;
    margin: 2% 25% 2% 7%;
    gap: 5%;
}

#guarantees__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EAF5FF;
}

.caption_warranty, .description_warranty {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.caption_warranty {
    font-weight: 700;
    font-size: 1.1vw;
    text-align: center;
}

.description_warranty {
    font-size: 0.8vw;
    padding-left: 5%;
}

@media screen and (max-width: 480px) {
    #guarantees {
        height: auto;
        width: 85%;
        display: grid;
        margin: 10% auto 0 auto;
        padding: 0;
        gap: 5% 0;
        grid-auto-flow: row;
        background: none;
    }

    #guarantees div {
        background: #EAF5FF;
        gap: 5% 0;
    }

    .caption_warranty {
        font-size: 5vmin;
    }

    .description_warranty {
        font-size: 3vmin;
    }
}