.contacts {
    position: relative;
    margin-top: 8vw;
}

.contacts__container {
    width: 100%;
    display: grid;
    grid-template-rows: 30vw;
    grid-template-columns: 20vw 30vw 45vw auto;
}

.contacts__container::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 185%;
    background: url("/images/contacts-left-bg.png") no-repeat top left;
    background-size: 100%;
    bottom: 67%;
}

.contacts__main {
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #C4E3FF;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3vw;
    gap: 1vw;
}

.contacts__main-caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.7vw;
}

.contacts__main-info {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 1vw;
}

.contacts__main-info-item {
    display: flex;
    padding: 0.7vw;
    align-items: center;
    white-space: nowrap;
    width: min-content;
    gap: 1.5vw;
    border: 1px dashed #C4E3FF;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

.contacts__main-info-item > img {
    width: 2.5vw;
}

.contacts__main-button {
    width: 80%;
    height: 14%;
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 0 #E0A829, 3px 4px 10px #FFCC40, 0 0 13px rgba(255, 190, 22, 0.5);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: #531E00;
}

#contacts__map {
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(97, 180, 255, 0.2));
    border-radius: 10px;
    overflow: hidden;
    margin-left: -4vw;
    -webkit-filter: grayscale(100%);
}

@media screen and (max-width: 481px) {
    .contacts {
        margin-top: 50vw;
    }

    .contacts__container {
        width: 90%;
        margin: 0 auto;
        grid-template-rows: 120vw 120vw;
        grid-template-columns: 100%;
    }

    .contacts__container::before {
        content: '';
        position: absolute;
        background-position: top center;
        background-size: cover;
        width: 150%;
        height: 90%;
        bottom: 70%;
        left: 0;
    }

    .contacts__main {
        grid-column: 1/1;
        padding-left: 3vw;
        gap: 1vw;
    }

    .contacts__main-caption {
        font-size: 7vw;
    }

    .contacts__main-info {
        margin-left: 2vw;
        gap: 5vw;
        flex-basis: 50%;
        justify-content: center;
    }

    .contacts__main-info-item {
        padding: 2vw;
        gap: 5vw;
        font-size: 4.5vw;
        flex-basis: 30%;
    }

    .contacts__main-info-item > img {
        width: 8vw;
    }

    .contacts__main-button {
        font-size: 5vw;
        place-self: center;
    }

    #contacts__map {
        width: 100%;
        grid-row: 2/2;
        z-index: 1;
        margin-left: 0;
        margin-top: -10vw;
    }

    .ymaps-map {
        width: 100%;
        height: 100% !important;
    }

}