.fast_calculate {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 12vw;
    background: #FFFFFF;
}

.fast_calculate__container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15vw 70vw 15vw;
}

.fast_calculate__content {
    position: relative;
    margin-top: 8vw;
    grid-row: 1/1;
    grid-column: 2/2;
    height: 80%;
    width: 80%;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/images/fast_calculate_bg.png") no-repeat center bottom, #FFFFFF;
    background-size: 100%;
    border: 1px solid rgba(204, 230, 252, 0.5);
    box-shadow: 0 4px 4px rgba(97, 180, 255, 0.2);
    border-radius: 10px;
}

.fast_calculate__caption {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5vw;
    font-size: 1vw;
    text-align: center;
}

.fast_calculate__caption > img {
    width: 6%;
}

.fast_calculate__button {
    margin-top: 1.5vw;
    width: 45%;
    height: 35%;
    font-size: 1vw;
}

.fast_calculate__calculator {
    position: absolute;
    pointer-events: none;
    width: 40%;
    z-index: 1;
    bottom: -1px;
    left: 14%;
}

@media screen and (max-width: 481px) {
    .fast_calculate {
        height: 75vw;
    }

    .fast_calculate__container {
        height: 100%;
        grid-template-columns: 100%;
    }

    .fast_calculate__content {
        overflow: hidden;
        margin-top: 40vw;
        grid-column: 1/1;
        height: 100%;
        width: 90%;
        background-size: 230%;
        background-position: left bottom;
    }

    .fast_calculate__caption {
       display: none;
    }

    .fast_calculate__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
        width: 95%;
        height: 25%;
        font-size: 5vw;
    }

    .fast_calculate__calculator {
        width: 115%;
        left: 12%;
    }
}