#footer {
    margin-top: 300px;
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#footer__logo {
    grid-column: 1/1;
    place-self: start end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#footer__logo > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: #000000;
}

#footer__logo > img {
    width: 70%;
}

#footer__links {
    grid-column: 2/2;
    place-self: start center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#footer__links > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: #000000;
}

#footer__address {
    grid-column: 3/3;
    place-self: start center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#footer__address > div {
    display: flex;
    gap: 20px;
}

#footer__address > div > div {
    display: flex;
    flex-direction: column;
}

#footer__address > div > div > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    color: #000000;
}

#footer__address-number {
    font-weight: 700;
    font-size: 0.8vw;
}