#get_fast_calculate {
    position: relative;
    z-index: 1;
    background: #FFFFFF url("/images/Vector 3.png") no-repeat bottom;
    background-size: 100% auto;
    border: 1px solid #CCE6FC;
    box-shadow: 0 4px 4px rgba(97, 180, 255, 0.2);
    border-radius: 10px;
    width: 50%;
    display: grid;
    margin-left: 25vw;
    margin-top: 100px;
    padding-bottom: 50px;
    grid-template-columns: 50vw;
    grid-template-rows: 10vh 10vh;
}

#get_fast_calculate__caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    text-align: center;
    padding-top: 30px;
    color: #000000;
}

#get_fast_calculate__button {
    position: relative;
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 0 #E0A829, 3px 4px 10px #FFCC40, 0 0 13px rgba(255, 190, 22, 0.5);
    border-radius: 10px;
    justify-self: center;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    color: #531E00;
}

#get_fast_calculate__button > img {
    position: absolute;
    width: 70%;
    height: auto;
    bottom: -55%;
    left: -30%;
}


