.header {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5.5vw;
}

.header__logo {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    background: white;
}

.header__logo > img {
    width: 20%;
}

.header__logo > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
}

.header__menu {
    margin: 0 1.5vw 0 0;
    padding: 0;
    display: flex;
    white-space: nowrap;
    gap: 1vw;
}

.header__menu li {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-size: 0.8vw;
}

.header__contacts {
    background: #61B4FF;
    gap: 3.5vw;
    width: 40%;
    height: 80%;
    display: flex;
}

.header__telephone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
    gap: 4%;
}

.header__telephone > img {
    width: 7%;
}

.header__number, .header__working-hours {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.header__number {
    font-weight: 700;
    font-size: 1vw;
}

.header__working-hours {
    font-weight: 500;
    font-size: 0.7vw;
}

.header__callback {
    height: 55%;
    width: 18%;
    align-self: center;
    font-size: 0.8vw;
    border-radius: 0.5vw;
}

@media screen and (max-width: 481px) {
    .header {
        height: 70vw;
        flex-direction: column;
    }

    .header__logo {
        position: relative;
        width: 100%;
        height: 50%;
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    .header__logo img {
        width: 50%;
    }

    .header__logo p {
        font-size: 3.5vw;
        text-align: center;
    }

    .header__burger {
        display: block;
        z-index: 9999;
        position: absolute;
        left: 4vw;
        top: 8vw;
        width: 10%;
        height: 20%;
    }

    .header__burger span, .header__burger:after, .header__burger:before{
        height: 1vw;
        width: 100%;
        position: absolute;
        background: #515758;
        transition: 0.4s;
    }

    .header__burger:after, .header__burger:before{
        content: '';
    }

    .header__burger span{
        top: 40%;
    }

    .header__burger:after{
        bottom: 0;
    }

    .header__burger:before{
        top: 0;
    }

    .header__burger.open-menu span {
        opacity:0;
    }

    .header__burger.open-menu:before {
        transform: rotate(38deg);
        top: 35%;
    }

    .header__burger.open-menu:after {
        transform: rotate(-38deg);
        bottom: 50%;
    }

    .header__nav {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(245, 246, 246);
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -150%;
        transition: all 0.7s ease;
    }

    .header__menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10vw;
    }

    .fixed-page{
        overflow: hidden;
    }

    .header__menu li {
        font-size: 4vw;
    }

    .header__nav.open-menu {
        left: 0;
    }

    .header__contacts {
        height: 50%;
        gap: 5vw;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .header__telephone {
        justify-content: center;
        width: 100%;
    }

    .header__telephone > img {
        width: 10%;
    }

    .header__number {
        font-size: 5vw;
    }

    .header__working-hours {
        font-size: 3vw;
    }

    .header__callback {
        height: 30%;
        width: 43%;
        font-size: 3.5vw;
        border-radius: 2vw;
    }
}