#main {
    margin-top: -35px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 35vh auto;
    grid-template-rows: 4vw 10vw 7vw 10vw;
    background: url('/images/main_composition.png') no-repeat right, linear-gradient(to bottom, #7dc1ff, #CCE6FC);
}

#main h1 {
    grid-row: 2/2;
    grid-column: 2/2;
    place-self: center left;
    margin: 0;
    font-family: 'Intro', sans-serif;
    font-size: 2.5vmax;
    line-height: 1;
    color: #FFFFFF;
    text-shadow: 1px 0 0 #87C6FF, -1px 0 0 #87C6FF, 0 -1px 0 #87C6FF, 0 1px 0 #87C6FF, 0 4px 37px rgba(52, 123, 188, 0.5);
}

#main h1 small {
    position: relative;
    display: inline-block;
    top: -8px;
    height: 45px;
    line-height: 2;
    font-family: 'Intro', sans-serif;
    padding: 0 10px;
    font-size: 1.2vmax;
    background: #090E01;
    border: 1px solid rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 37px rgba(52, 123, 188, 0.5);
    border-radius: 1vmin;
    text-shadow: none;
}

#main__features {
    grid-column: 2/2;
    grid-row: 3/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

#features__without_prepayment p, #features__money_back p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

#features__without_prepayment {
    display: flex;
    align-items: center;
    width: 20%;
    height: 55%;
    background: rgba(253, 253, 253, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

#features__without_prepayment img {
    position: absolute;
    width: auto;
    height: 120%;
    right: 67%;
    transform: rotate(-7.08deg);
}

#features__without_prepayment p {
    font-size: 1.7vmin;
    margin-left: 30%;
}

#features__money_back {
    display: flex;
    align-items: center;
    width: 20%;
    height: 55%;
    background: rgba(253, 253, 253, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

#features__money_back p {
    font-size: 1.7vmin;
    margin-left: 35%;
}

#features__money_back img {
    position: absolute;
    width: 30%;
    right: 70%;
    height: auto;
    transform: rotate(12.93deg);
}

#main__description {
    grid-row: 4/4;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    gap: 12% 0;
}

#main__description p:first-child, #main__description p:last-child {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #000000;
}

#main__description p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
}

#main__description p:last-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vmin;
}

#main__scroll_and_inspection {
    grid-row: 5/5;
    grid-column: 2/2;
    display: flex;
    gap: 7%;
}

#inspection__get {
    position: relative;
    width: 32%;
    height: 40%;
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 0 #E0A829, 3px 4px 10px #FFCC40, 0 0 13px rgba(255, 190, 22, 0.5);
    border-radius: 2vmin;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2vmin;
    color: #531E00;
}

#inspection__get img:first-child {
    position: absolute;
    width: 20%;
    height: auto;
    left: 3%;
    bottom: 0;
}

#main__cloud {
    grid-row: 4/4;
}

#main__mobile {
    display: none;
}

@media screen and (max-device-width: 480px) {
    #main_info {
        margin-top: 0;
        height: auto;
        padding-top: 10vmin;
        gap: unset;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        background: none;
    }

    #main_info h1 {
        grid-column: unset;
        grid-row: 1/1;
        font-size: 10vmin;
        text-align: center;
    }

    #mobile_bg {
        display: block;
        grid-row: 2/2;
        width: 100%;
        margin-top: -30%;
    }

    #main_info h1 small {
        display: block;
        height: 30%;
        width: 65%;
        border-radius: 3vmin;
        margin: 5% auto auto auto;
        padding: 10px 0 10px 0;
        line-height: 2.5;
        font-size: 5vmin;
    }

    #features {
        grid-column: unset;
        grid-row: 3/3;
        height: 25vh;
        flex-direction: column;
        align-items: center;
        gap: 15% 0;
        margin-top: -35%;
    }

    #without_prepayment {
        width: 55%;
        height: 90%;
        margin-left: 20%;
    }

    #without_prepayment img {
        width: 60%;
    }

    #without_prepayment p {
        font-size: 4vmin;
    }

    #money_back {
        width: 60%;
        height: 60%;
    }

    #money_back p {
        font-size: 4vmin;
    }

    #money_back img {
        width: 30%;
    }

    #main_description {
        grid-column: unset;
        margin-top: 10%;
        grid-row: 4/4;
    }

    #main_description p:first-child {
        font-size: 5vmin;
        text-align: center;
    }

    #main_description p:last-child {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font-size: 3.6vmin;
    }

    #scroll_and_inspection {
        grid-row: 5/5;
        height: 10vh;
        grid-column: unset;
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    #get_inspection {
        position: relative;
        width: 90%;
        height: 100%;
        font-size: 4vmin;
    }

    #main_cloud {
        z-index: -1;
        grid-row: 6/6;
        width: 100%;
        margin-top: -50%;
    }

    #scroll {
        display: none;
    }
}