.quiz {
    position: relative;
}

.quiz__container {
    display: grid;
    grid-template-columns: 17vw 40vw 30vw 15vw;
    grid-template-rows: 7vw 7vw 5vw 5vw 5vw 15vw;
    background: url("/images/quiz-bg.png") no-repeat bottom right;
    background-size: 100% auto;
    gap: 1vw 0;
}

.quiz__container::before {
    content: '';
    background: url("/images/before_quiz.png") center left no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 140%;
    bottom: -20%;
}

.quiz__container::after {
    content: '';
    z-index: -1;
    background: url("/images/quiz-left-bg.png") center right no-repeat;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 120%;
    bottom: -20%;
}

.quiz__caption {
    z-index: 1;
    grid-row: 2/2;
    grid-column: 2/2;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
}

.quiz__caption > img {
    width: 30%;
    margin-top: 2vw;
}

.quiz-caption__text > span {
    font-weight: 400;
}

.quiz__description {
    z-index: 1;
    grid-row: 3/3;
    grid-column: 2/2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
}

.quiz__send-price {
    z-index: 1;
    place-self: center start;
    grid-row: 4/4;
    grid-column: 2/2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

.quiz__calculate {
    position: relative;
    width: 70%;
    grid-row: 5/5;
    grid-column: 2/2;
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 0 #E0A829, 3px 4px 10px #FFCC40, 0 0 13px rgba(255, 190, 22, 0.5);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4vw;
    color: #531E00;
}

.quiz__calculate > img {
    position: absolute;
    width: 25%;
    transform: rotate(-70.09deg);
    bottom: -40%;
    left: -5%;
}

@media screen and (max-width: 481px) {
    .quiz__container {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 100%;
        grid-template-rows: 50vw auto 25vw 20vw 15vw 60vw;
        background: none;
        gap: 5vw 0;
    }

    .quiz__container::before {
        content: '';
        background: url("/images/quiz-mobile-top.png") top left no-repeat;
        background-size: cover;
        width: 100%;
        height: 115%;
        bottom: 30%;
        right: 0;
    }

    .quiz__container::after {
        background: url("/images/quiz-bg-no-leafs.png") no-repeat bottom right;
        background-size: cover;
        width: 150%;
        height: 60%;
        right: -48%;
    }

    .quiz__caption {
        grid-column: 1/1;
        font-size: 6vw;
        gap: 4vw;
    }

    .quiz__caption > img {
        width: 50%;
        margin-top: -15vw;
    }

    .quiz__description {
        grid-column: 1/1;
        font-size: 4vw;
        place-self: end start;
    }

    .quiz__send-price {
        place-self: center start;
        grid-column: 1/1;
        font-size: 3.5vw;
    }

    .quiz__calculate {
        width: 100%;
        grid-column: 1/1;
        font-size: 5vw;
    }

    .quiz__calculate > img {
        width: 15%;
        bottom: -2%;
        left: 0;
    }
}