.space_insulation {
    position: relative;
    margin-top: -14vw;
}

.space_insulation__container {
    display: grid;
    width: 100%;
    height: 50vw;
    background: url("/images/space_insulation-bg.jpg") left no-repeat;
    background-size: 90% auto;
    grid-template-rows: 35% auto auto 20%;
    grid-template-columns: 15vw 30vw 55vw;
}

.space_insulation__container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/space_insulation_left_cloud_bg.png") no-repeat bottom left;
    background-size: 40% auto;
    bottom: -23%;
    left: -7%;
}

.space_insulation__container::after {
    overflow: hidden;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/space_insulation_right_cloud_bg.png") no-repeat bottom right;
    background-size: 50% auto;
    right: -14%;
    bottom: -27%;
}

.space_insulation__caption {
    grid-row: 2/2;
    grid-column: 2/2;
    font-family: 'Intro', sans-serif;
    font-size: 2.5vw;
    color: #FFFFFF;
}

.space_insulation__description {
    grid-row: 3/3;
    grid-column: 2/2;
    background: rgba(6, 22, 65, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 1vw;
    padding: 5% 3%;
}

.space_insulation__description > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    color: #FFFFFF;
    text-shadow: 0 4px 37px rgba(52, 123, 188, 0.5);
}

.space_insulation__differences {
    grid-row: 3/3;
    grid-column: 3/3;
    border-radius: 0.8vw;
    height: 115%;
    margin-top: -5%;
    margin-left: 20%;
}

.space_insulation__calculate {
    z-index: 1;
    grid-row: 4/4;
    grid-column: 2/2;
    place-self: center stretch;
    position: relative;
    height: 50%;
    font-size: 1.2vw;
    text-shadow: 0 0 4px #FFFBEE;
}

.space_insulation__calculate > img {
    z-index: 1;
    position: absolute;
    height: 170%;
    bottom: -35%;
    left: -5%;
}

@media screen and (max-width: 481px) {
    .space_insulation {
        margin-top: -20%;
        z-index: -1;
    }

    .space_insulation__container {
        height: auto;
        background: url("/images/space_insulation-mobile-bg.jpg") center top no-repeat;
        background-size: auto 100%;
        grid-template-rows: 30vw 50vw 50vw auto 30vw;
        grid-template-columns: 100%;
    }

    .space_insulation__container::before {
        display: none;
    }

    .space_insulation__container::after {
        display: none;
    }

    .space_insulation__caption {
        grid-column: 1/1;
        text-align: center;
        font-size: 8vw;
    }

    .space_insulation__differences {
        grid-column: 1/1;
        border-radius: 4vw;
        height: auto;
        width: 90%;
        margin: 0 auto;
    }

    .space_insulation__description {
        grid-column: 1/1;
        grid-row: 4/4;
        border-radius: 4vw;
        width: 85%;
        margin: 0 auto;
    }

    .space_insulation__description > p {
        font-size: 4vw;
    }

    .space_insulation__calculate {
        display: none;
    }
}