.space_insulation {
    position: relative;
    margin-top: -15%;
}

.space_insulation__container {
    display: grid;
    width: 100%;
    height: 50vw;
    background: url("/images/space_insulation-bg.jpg") left no-repeat;
    background-size: 90% auto;
    grid-template-rows: 35% auto auto 20%;
    grid-template-columns: 15vw 30vw 55vw;
}

.space_insulation__container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/space_insulation_left_cloud_bg.png") no-repeat bottom left;
    background-size: 40% auto;
    bottom: -23%;
    left: -7%;
}

.space_insulation__container::after {
    overflow: hidden;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/images/space_insulation_right_cloud_bg.png") no-repeat bottom right;
    background-size: 50% auto;
    right: -14%;
    bottom: -27%;
}

.space_insulation__caption {
    grid-row: 2/2;
    grid-column: 2/2;
    font-family: 'Intro', sans-serif;
    font-size: 2.5vw;
    color: #FFFFFF;
}

.space_insulation__description {
    grid-row: 3/3;
    grid-column: 2/2;
    background: rgba(6, 22, 65, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 1vw;
    padding: 5% 3%;
}

.space_insulation__description > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    color: #FFFFFF;
    text-shadow: 0 4px 37px rgba(52, 123, 188, 0.5);
}

.space_insulation__differences {
    grid-row: 3/3;
    grid-column: 3/3;
    border-radius: 0.8vw;
    height: 115%;
    margin-top: -5%;
    margin-left: 20%;
}

.space_insulation__calculate {
    grid-row: 4/4;
    grid-column: 2/2;
    place-self: center stretch;
    position: relative;
    height: 50%;
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 0 #E0A829, 3px 4px 10px #FFCC40, 0 0 13px rgba(255, 190, 22, 0.5);
    border-radius: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    color: #531E00;
    text-shadow: 0 0 4px #FFFBEE;
}

.space_insulation__calculate > img {
    position: absolute;
    height: 170%;
    bottom: -35%;
    left: -5%;
}

@media screen and (max-device-width: 480px) {

}