@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Intro';
    src: url('/fonts/Intro.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #4CA9FF -44.63%, #F4FAFF 135.85%), #CCE6FC;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12%;

}

#logo {
    height: 100%;
    width: 40%;
    padding-right: 5vmin;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    background: white;
}

#logo img {
    object-fit: contain;
}

#logo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5vh;
}

#contacts {
    background: #61B4FF;
    gap: 80px;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#phone_number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 20px;
}

#phone_number button {
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%
}

#phone_number button img {
    width: 55%;
    height: auto;
}

#num {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2vh;
}

#working_hours {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.2vh;
}

#call_me_back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 40%;
}

#call_me_back button {
    background: linear-gradient(269deg, #FFBE16 -7.63%, rgba(255, 255, 255, 0) 104.12%), #FFD43B;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 50%;
    width: 55%;
    box-shadow: 0 0 13px rgba(255, 190, 22, 0.5);
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vh;
    color: #531E00;
    border-radius: 1vh;
}

#call_me_back button img  {
    width: 30%;
    height: auto;
    left: 85%;
    top: 50%;
    position: absolute;
}

#main_info {
    height: 100%;
    background-image: url("/images/main_composition.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#main_info h1 {
    font-family: 'Intro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    border: 1px solid #87C6FF;
    text-shadow: 0 4px 37px rgba(52, 123, 188, 0.5);
}

@media screen and (max-device-width: 480px) {
    .header {
        flex-direction: column;
        height: 30%;
    }

    #logo {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;
        height: 50%;
        width: 100%;
    }

    #logo p {
        text-align: center;
    }

    #logo img {
        width: 50%;
    }

    #contacts {
        width: 100%;
        height: 50%;
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #phone_number {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    #phone_number button {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

    #phone_number button img {
        width: 55%;
        height: auto;
    }


    #call_me_back {
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
    }

    #call_me_back button {
        height: 55%;
        width: 40%;
    }

    #call_me_back button img  {
       display: none;
    }
}

